<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList-WebApp</title>
</head>
<body>

    <h1>ToDoList-WebApp</h1>

    <form action="/add" method="post">
        <div>
            <label for="enter">ToDo element title</label>
            <input type="text" name="enter" placeholder="Enter your ToDo element">
            <br>
            <button type="submit">ADD</button>
        </div>
    </form>

    <!-- Listing all of ToDoList elements on page -->
    {% for element in ArrayOfToDoList %}
        <p>{{ element.id }} | {{ element.title }}</p>

        {% if element.full == True %}
            <span>Done</span>
        {% else %}   
            <span>Not done yet</span>
        {% endif %}

        <a href="/">Mark as done</a>
        <a href="/">Remove</a>


    {% endfor %}

</body>
</html>